.E24 {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;
  background: #ffffffff;
  background-size: auto;
  background-attachment: local;
  border: 1px #ddddddff solid;
  border-radius: 8px;
  display: block;
  padding: 0px;
  margin: 0px;
}
.E25 {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  display: block;
  padding: 0px;
  margin: 0px;
}
.E26 {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: start;
  align-items: CENTER;
  flex-wrap: nowrap;
  gap: 0px;
  padding: 0px;
  margin: 0px;
}
.E27 {
  box-sizing: border-box;
  position: relative;
  width: max-content;
  height: auto;
  left: 0px;
  top: 0px;
  display: inline-block;
  color: #000000ff;
  line-height: 14px;
  white-space: pre-line;
  font-size: 12px;
  font-weight: 400;
  word-break: break-all;
}
.E28 {
  box-sizing: border-box;
}
.E29 {
  box-sizing: border-box;
}
.E30 {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  display: block;
  padding: 0px;
  margin: 0px;
}
.E31 {
  box-sizing: border-box;
  position: absolute;
  width: 50px;
  height: 100%;
  left: 0px;
  top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: start;
  align-items: CENTER;
  flex-wrap: nowrap;
  gap: 0px;
  padding: 0px;
  margin: 0px;
}
.E32 {
  box-sizing: border-box;
  position: relative;
  width: min-content;
  height: min-content;
  left: 0px;
  top: 0px;
  display: block;
  cursor: pointer;
}
.E33 {
  box-sizing: border-box;
  position: absolute;
  width: 50px;
  height: 100%;
  top: 0px;
  right: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: start;
  align-items: CENTER;
  flex-wrap: nowrap;
  gap: 0px;
  padding: 0px;
  margin: 0px;
}
.E34 {
  box-sizing: border-box;
  position: relative;
  width: min-content;
  height: min-content;
  left: 0px;
  top: 0px;
  display: block;
  cursor: pointer;
  transform: rotateZ(180deg);
}
.E35 {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 50px;
  left: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: start;
  align-items: CENTER;
  flex-wrap: nowrap;
  gap: 6px;
  padding: 0px;
  margin: 0px;
}
.E36 {
  box-sizing: border-box;
  position: relative;
  width: 10px;
  height: 10px;
  left: 0px;
  top: 0px;
  background: #ffffffff;
  background-size: auto;
  background-attachment: local;
  border: 1px #ddddddff solid;
  border-radius: 10px;
  display: block;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
}
.E37.E36 {
  box-sizing: border-box;
  background: #333333ff;
  background-size: auto;
  background-attachment: local;
  border: 1px #333333ff solid;
}
